@model List<Country>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h1 class="display-3 text-info mb-4">Countries</h1>
                <table class="table table-dark align-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="text-center" scope="col">Country</th>
                            <th class="text-center" scope="col">Short Description</th>
                            <th class="text-center" scope="col">Flag</th>
                            <th class="text-center" scope="col">Operations</th>
                            <th class="text-center" scope="col">
                                <a asp-action="Create" class="btn btn-lg btn-lg-square btn-outline-success m-2"><i class="fa fa-plus"></i></a>
                            </th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Model)
                        {
                            <tr>
                                <th scope="row">@country.Id</th>
                                <td class="text-center">@country.Name</td>
                                <td class="text-center">@country.ShortName</td>
                                <td class="text-center">
                                    <img class="rounded-circle flex-shrink-0" src="~/assets/img/countries/@country.Image" alt="" style="width: 40px; height: 40px;">
                                </td>
                                <td class="text-center">
                                    <a asp-action="Details" asp-route-id="@country.Id" class="btn btn-lg btn-lg-square btn-outline-info m-2"><i class="fa fa-info"></i></a>
                                    <a asp-action="Edit" asp-route-id="@country.Id" class="btn btn-lg btn-lg-square btn-outline-warning m-2"><i class="fa fa-pen"></i></a>
                                    <a asp-action="Delete" asp-route-id="@country.Id" class="btn btn-lg btn-lg-square btn-outline-danger m-2"><i class="fa fa-trash"></i></a>
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
