@model MovieVM
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 offset-xl-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Create A Movie</h6>
                <form method="post">
                    <div class="mb-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <label asp-for="Movie.Name" class="form-label">Name</label>
                        <input asp-for="Movie.Name" class="form-control pan-form-style rounded-pill" />
                        <span asp-validation-for="Movie.Name" class="text-danger"></span>
                    </div>                   
                    <div class="mb-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <label asp-for="Movie.MoviePoint" class="form-label">Movie Point</label>
                        <input asp-for="Movie.MoviePoint" min="0" max="10" class="form-control pan-form-style rounded-pill" />
                        <span asp-validation-for="Movie.MoviePoint" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.IMDBPoint" class="form-label"> IMDb Point</label>
                        <input asp-for="Movie.IMDBPoint" min="0" max="10" class="form-control pan-form-style rounded-pill" />
                        <span asp-validation-for="Movie.IMDBPoint" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.FilmImage" class="form-label">FilmImage</label>
                        <input asp-for="Movie.FilmImage" class="form-control pan-form-style rounded-pill" />
                        <span asp-validation-for="Movie.FilmImage" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.ReleaseDate" class="form-label">Release Date</label>
                        <input type="date" asp-for="Movie.ReleaseDate" class="form-control pan-form-style rounded-pill" />
                        <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.Annotation" class="form-label">Annotation</label>
                        <textarea asp-for="Movie.Annotation" class="form-control pan-form-style rounded-pill"> </textarea>
                        <span asp-validation-for="Movie.Annotation" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.CountryId"></label>
                        <select asp-for="Movie.CountryId" asp-items="@Model.CountryList" class="form-control pan-form-style">
                            <option selected>Choose</option>
                        </select>
                        <span asp-validation-for="Movie.CountryId"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.FilmOrSerieId"></label>
                        <select asp-for="Movie.FilmOrSerieId" asp-items="@Model.FilmOrSerieList" class="form-control pan-form-style">
                            <option selected>Choose</option>
                        </select>
                        <span asp-validation-for="Movie.FilmOrSerieId"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select pan-form-style" id="categories" aria-label="Floating label select example">
                            <option value="-1" selected>Choose</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }                           
                        </select>                       
                    </div>
                    @* Movie Kinds *@
                    <div class="form-floating mb-3">
                        <select class="form-select pan-form-style" id="kinds" aria-label="Floating label select example">
                            <option value="-1" selected>Choose</option>
                            @foreach (var kind in Model.Kinds)
                            {
                                <option value="@kind.Id">@kind.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select pan-form-style" id="languages" aria-label="Floating label select example">
                            <option value="-1" selected>Choose</option>
                            @foreach (var language in Model.Languages)
                            {
                                <option value="@language.Id">@language.LanguageKind</option>
                            }
                        </select>
                    </div>               

                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>    