@model MovieVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 offset-xl-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4" id="movie" data="@Model.Movie.Id">Edit The Movie</h6>

                <form enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3 bg-transparent text-center">
                        <label asp-for="Movie.FilmPhoto" class="form-label">
                            <p>Film Image</p>
                            <img src="~/assets/img/movies/@Model.Movie.FilmImage" width="200" height="200" />
                        </label>
                        <input asp-for="Movie.FilmPhoto" accept="image/*" class="form-control pan-form-style rounded-pill d-none" />
                        <span asp-validation-for="Movie.FilmPhoto" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.Name" class="form-label">Name</label>
                        <input asp-for="Movie.Name" class="form-control pan-form-style rounded-pill" required />
                        <span asp-validation-for="Movie.Name" class="text-danger"></span>
                    </div>                   
                    <div class="mb-3">
                        <label asp-for="Movie.MoviePoint" class="form-label">Movie Point</label>
                        <input asp-for="Movie.MoviePoint" min="0" max="10" class="form-control pan-form-style rounded-pill" required />
                        <span asp-validation-for="Movie.MoviePoint" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.IMDBPoint" class="form-label"> IMDb Point</label>
                        <input asp-for="Movie.IMDBPoint" min="0" max="10" class="form-control pan-form-style rounded-pill" required />
                        <span asp-validation-for="Movie.IMDBPoint" class="text-danger"></span>
                    </div>                   
                    <div class="mb-3">
                        <label asp-for="Movie.IsSeries"></label>
                        <select asp-for="Movie.IsSeries" class="form-control pan-form-style" required>
                            <option selected>Choose</option>
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                        <span asp-validation-for="Movie.IsSeries"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.ReleaseDate" class="form-label">Release Date</label>
                        <input type="date" asp-for="Movie.ReleaseDate" class="form-control pan-form-style rounded-pill" required />
                        <span asp-validation-for="Movie.ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.Annotation" class="form-label">Annotation</label>
                        <textarea asp-for="Movie.Annotation" style="min-height:200px" class="form-control pan-form-style" required> </textarea>
                        <span asp-validation-for="Movie.Annotation" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Movie.CountryId">Country</label>
                        <select asp-for="Movie.CountryId" asp-items="@Model.CountryList" class="form-control pan-form-style" required>
                            <option selected>Choose</option>
                        </select>
                        <span asp-validation-for="Movie.CountryId"></span>
                    </div>

                    <div class="mb-3">
                        <label for="categories" class="form-label">Categories</label>
                        <div class="form-floating d-flex flex-wrap options mb-3">
                            <select class="form-select pan-form-style" id="category" data="@Model.Movie.Id" aria-label="Floating label select example">
                                <option value="-1" selected>Choose</option>
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id" disabled="@(Model.Movie.MovieCategories.Exists(mc => mc.CategoryId == category.Id)?true:false)">@category.Name</option>
                                }
                            </select>                         
                            @for (int i = 0; i < Model.Movie?.MovieCategories?.Count(); i++)
                            {
                                <input class="d-none" data-list="category" value="@Model.Movie.MovieCategories[i].CategoryId" />
                                <a href="#" class="alert alert-info d-inline-block m-2 p-2">@Model.Movie?.MovieCategories[i]?.Category?.Name</a>
                            }
                        </div>
                    </div>
                    
                    @* Movie Kinds *@
                    <div class="mb-3">
                        <label for="kinds" class="form-label">Kinds</label>
                        <div class="form-floating d-flex flex-wrap options mb-3">
                            <select class="form-select pan-form-style" id="kind" aria-label="Floating label select example">
                                <option value="-1" selected>Choose</option>
                                @foreach (var kind in Model.Kinds)
                                {
                                    <option value="@kind.Id" disabled="@(Model.Movie.MovieKinds.Exists(mk => mk.KindId == kind.Id)?true:false)">@kind.Name </option>
                                }
                            </select>
                            @for (int i = 0; i < Model.Movie?.MovieKinds?.Count(); i++)
                            {
                                <input class="d-none" data-list="kind" value="@Model.Movie.MovieKinds[i].KindId" />
                                <a href="" class="alert alert-info d-inline-block m-2 p-2">@Model.Movie?.MovieKinds[i]?.Kind?.Name</a>
                            }
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="languages" class="form-label">Languages</label>
                        <div class="form-floating d-flex flex-wrap options mb-3">
                            <select class="form-select pan-form-style" id="language" aria-label="Floating label select example">
                                <option value="-1" selected>Choose</option>
                                @foreach (var language in Model.Languages)
                                {
                                    <option value="@language.Id" disabled="@(Model.Movie.MovieLanguages.Exists(ml => ml.LanguageId == language.Id)?true:false)">@language.LanguageKind</option>
                                }
                            </select>
                            @for (int i = 0; i < Model.Movie?.MovieLanguages?.Count(); i++)
                            {
                                <input class="d-none" data-list="language" value="@Model.Movie.MovieLanguages[i].LanguageId" />
                                <a href="" class="alert alert-info d-inline-block m-2 p-2" data="@Model.Movie.Id">@Model.Movie?.MovieLanguages[i]?.Language?.LanguageKind</a>
                            }
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary" asp-route-Id="@Model.Movie.Id" asp-route-Image="@Model.Image">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>    